name: Test README Update

on:
  workflow_dispatch:  # Trigger manually

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout repository
      uses: actions/checkout@v3
      
    - name: Output date
      run: echo "Current Date: $(date)"
